* {
  font-family: "Poppins-Bold";
}
.btn-success {
  border-radius: 33px;
  background-color: #21b573;
}
.navbar-nav {
  margin-left: auto;
}
.nav-logo {
  width: 198.07px;
  height: 59px;
}
#Navbar {
  background-color: #f0fff0;
}
#cover img {
  height: 93%;
  width: 91%;
  max-width: 640px;
}
.cover-text {
  width: 405px;
}
.cover-text p {
  font-size: 16px;
}
.cover-text .p1 {
  color: #fd511a;
}
.cover-text .p2 {
  color: #6c6b6b;
}
.cover-text h1 {
  line-height: 70px;
  font-weight: 700;
}

/* Details */
#details img {
  width: 66px;
  height: 85px;
}
#details p {
  color: #585859;
}
.details-item {
  background-color: #f8fffb;
  width: 220px;
  height: 210px;
  box-shadow: 1px 1px 3px black;
  border-radius: 10px;
}
.card-text img {
  height: 24px;
  width: 24px;
}
#courses h2,
#courses h5 {
  color: #413960;
}
#courses h2 {
  font-weight: bolder;
}
#courses .card {
  border-style: none;
  box-shadow: 0 0 20px 1px rgb(219, 211, 211);
  border-radius: 18px;
}
#courses .text-muted {
  font-size: 14px;
}
